body {
    overflow-y: scroll;
    padding-top: 60px;
}

li {
    display: block
}

.navbar-right {
    padding-right: 10px;
}

.navbar-brand.active {
    font-weight: bold
}

/* For blog */
.date {
    color: #777;
}

#id_text {
    height: 500px;
    width: 100%;
}

/* For movienite */

#id_attendees li{
    width: 25%;
    float: left;
    display: inline;
}
