body {
  padding-top: 60px;
}

.navbar-right {
    padding-right: 10px;
}

.navbar-brand.active {
    font-weight: bold
}

/* For Blog */
.date {
    color: #777;
}

#id_text {
    height: 500px;
    width: 100%;
}
