{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script
            type="module"
            src="{% static '.pyscript/node_modules/@pyscript/core/dist/core.js' %}">
    </script>
    <script type="py" src="{% static 'ars/main.py' %}"></script>
{% endblock %}

{% block content %}
    <h1 id="loading">LOADING ...</h1>
    <div id="house_descriptions" hidden>
        <p id="Bjornaer">
            Magi of Bjornaer (BYORE-nayr) concern themselves primarily with beasts and
            the animalistic side of human nature. Because of this emphasis in their
            training, each Bjornaer magus can take the form of an animal, known as his
            "heartbeast." Understanding the heartbeast in particular and animals in
            general is considered more important than Hermetic magic by many in this
            House.
        </p>
        <p id="Bonisagus">
            Bonisagus (BOH-nee-SAH-goos) invented the Hermetic theory of magic, and his
            student, the maga Trianoma, masterminded the formation of the Order. House
            Bonisagus is a true lineage; all of its members can trace their heritage
            back to Bonisagus himself.
        </p>
        <p id="Criamon">
            The very secretive House is known for its obscure philosophy, its disdain
            for simple power, and its members' habit of marking their faces and bodies
            with arcane symbols. Followers of Criamon(KREE-ah-mone) are an enigmatic and
            otherworldly group of magi, generally having little interest in the politics
            of the Order.
        </p>
    </div>
    <div id="virtue_descriptions" hidden>
        <p id="Hermetic Magus">
            You are a member of the Order of Hermes.
        </p>
        <p id="The Gift">
            You have the ability to work magic.
        </p>
        <p id="Heartbeast">
            You have been initiated into the Outer Mystery of the Heartbeast, and thus
            are a member of House Bjornaer.
        </p>
        <p id="Puissant Ability">
            You are particularly adept with one Ability, and add 2 to its value whenever
            you use it. Note that you do not, in general, use an Ability when learning
            it, teaching it, or writing about it.
        </p>
        <p id="The Enigma">
            You have been initiated into the Outer Mystery of The Enigma, and thus are a
            member of House Criamon.
        </p>
        <p id="Elemental Magic">
            You have been trained in the ability to manipulate raw elemental forms
            (Ignem, Auram, Terram and Aquam), and view them as a connected whole rather
            than four separate Arts. Whenever you successfully study one of these Arts
            (that is, gain at least one experience point from study), you gain an
            additional experience point in each of the other three.
        </p>
        <p id="Flawless Magic">
            You automatically master every spell that you learn. All your spells start
            with a score of 1 in the corresponding Ability. You may choose a different
            special ability for every spell you have. Further, all experience points you
            put into Spell Mastery Abilities are doubled.
        </p>
        <p id="Flexible Formulaic Magic">
            You can vary the effects of formulaic spells to a slight degree, while still
            getting the benefits of casting known magic. You may raise or lower the
            casting level of the spell by five to raise or lower one (only) of Range,
            Duration, and Target by one step, as long as this does not violate any of
            the normal limits on formulaic magic. Casting success, fatigue loss, and
            Penetration are all calculated based on the casting level of the spell.
            You cannot manipulate Ritual magic in this way.
        </p>
        <p id="Deficient Technique">
            All totals, including Lab and Casting totals, including a particular
            Technique are halved. Study totals are not halved. Experience points
            required are based on the actual value of the Technique, before halving.
        </p>
        <p id="Careless Sorcerer">
            You are slapdash inyour use of magical power, and must roll two more botch
            dice than normal when casting spells. Note that if you would normally roll
            no botch dice, you still roll none.
        </p>
        <p id="Clumsy Magic">
            You have trouble aiming your spells accurately. Any aiming roll is subject
            to disastrous failure: an aiming roll of 0 is automatically a botch. (Aiming
            rolls do not count as mystical rolls for the purposes of gaining Warping
            Points.) You receive a -3 penalty for any rolls involving Finesse.
        </p>
        <p id="Adept Laboratory Student">
            You digest the instructions of others quite easily. You get a +6 bonus to
            Lab Totals when working from the lab texts of others, including when
            reinventing spells.
        </p>
        <p id="Affinity with Ability">
            All Study Totals for one Ability are increased by half, as are any
            experience points you put in that Ability at character creation. If you take
            this Virtue for an Ability, you may exceed the normal age-based cap during
            character generation by two points for that Ability.
        </p>
        <p id="Deft Form">
            You are particularly skilled with one Form. You suffer no penalty to the
            Casting Total casting spells in that Form when using non-standard
            voicings/gestures, including using no voice or gestures because you are in a
            non-human form. Voice Range spells still have a Range based on how loudly
            you are speaking.
        </p>
        <p id="Giant Blood">
            The blood of the ancient race of giants flows in your veins. Though you are
            not as large as your ancestors, you are up to eight feet tall and can weigh
            as much as 500 pounds. Your Size is +2, so you can take wounds in 7-point
            increments, rather than the normal 5. You also gain +1 to both Strength and
            Stamina. This bonus may raise your scores in those Characteristics as high
            as +6.
        </p>
        <p id="Ways of the Land">
            You have a deep understanding of a type of terrain, feeling more natural and
            at home there than anywhere else. You get a +3 bonus to all rolls,
            including combat, that directly involve that area and its inhabitatnts;
            mundane, magical, or faerie. In addition, you roll one fewer botch die than
            normal (which may mean you roll no botch dice) in rolls that pertain to your
            area of understanding. You are not normally molested by animals (or people)
            of the terrain, and though particularly vicious creatures may still attack
            you, at least they'll accord you proper respect.
        </p>
        <p id="Martial Block">
            You are completely unable to learn Martial Abilities, for some reason.
        </p>
        <p id="Afflicted Tongue">
            You have a speech impediment, such as a lisp, stutter, or missing teeth. You
            suffer a -2 to all rolls involving the voice. You must also roll an extra
            botch die when casting a spell using words.
        </p>
        <p id="Arthritis">
            Your joints are stiff and often painful, making almost any prolonged
            movement difficult. You are at -3 to rolls involving repetitive movement,
            sustained over time. Occasionally, the pain is so great that you are
            seriously disabled. On any movement or combat botch, one of your joints may
            "lock up," making the limb effectively useless (-6 to all rolls involving
            it) until you have a chance to rest it for a day or two.
        </p>
        <p id="Blind">
            You have little or no sight. Using missile weapons is futile, reading is
            impossible, and navigation in unknown territory is difficult to say the
            least. As a magi, your other senses mean you are less limited by this than
            other people.
        </p>
        <p id="Crippled">
            Your legs are completely useless. You cannot walk.
        </p>
        <p id="Deaf">
            You cannot hear at all. You may be able to speak, but you cannot understand
            spoken language, which makes communication difficult. You must roll an extra
            two botch dice when casting spells with a spoken component as you cannot
            hear what you are saying.
        </p>
    </div>
    <div id="spell descriptions" hidden>
        <p id="Soothe Pains of the Beast">
            This spell looks much like a ritualistic "laying on of hands" seen in many
            churches. You kneel and press your hands to the wound while reciting a quiet
            incantation. The spell cures one Light Wound suffered by the animal.
        </p>
        <p id="Image of the Beast">
            Gives you a hazy mental image of an abimal you have an Arcane Connection to.
        </p>
        <p id="Beast of Outlandish Size">
            Changes the Size of an animal by +1. This change modifies Strength by +2,
            the range for each wound level increases by one, and Quickness falls by one.
            The new beast is of huge size and looks much more impressive than its
            previous self. Townspeople may run in fear of it, and there is little doubt
            among them that it is a creature of magic.
        </p>
        <p id="Decay Fur and Hide">
            Destroys an object made of animal fur or hide, including wool and leather.
        </p>
        <p id="Disguise of the Putrid Aroma">
            The target takes no interest in you as long as you continue to concentrate,
            and do not threaten it. A carnivore treats you as if you were simply
            something it does not eat. It retains normal interest, however, in anyone
            else nearby.
        </p>
        <p id="Footsteps of Slippery Oil">
            From each of the next ten footsteps the caster of this spell takes,
            nonflammable grease spreads out, leaving a slick area 10 paces wide.
            Dexterity stress rolls are required to remain upright whenever a character
            on the oil does something more challenging than walking. A roll of 6+ is
            needed for the average maneuver, with rolls of up to 15+ needed to
            (for example) make a right turn at full speed on a smooth, greased surface.
            The duration is the length of time that the oil lasts.
        </p>
    </div>
{% endblock %}
