{% extends 'base.html' %}

{% block navbar %}
    {% if request.resolver_match.url_name == 'movie_list' %}
        <li><a href="{% url 'movienite:movie_add' %}">Add</a></li>
    {% endif %}
    <li {% if request.resolver_match.url_name == 'person_list' %} class="active" {% endif %}>
        <a href="{% url 'movienite:person_list' %}">People</a>
    </li>
    <li {% if request.resolver_match.url_name == 'movie_list' %} class="active" {% endif %}>
        <a href="{% url 'movienite:movie_list' %}">Movies</a>
    </li>
{% endblock %}
