<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Waynoc</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                {% url 'movienite:person_list' as movienite_url %}
                <a class="navbar-brand {% if request.path == movienite_url %} active {% endif %}" href="{{ movienite_url }}">Movienite</a>
                {% url 'blog:post_list' as blog_url %}
                <a class="navbar-brand {% if request.path == blog_url %} active {% endif %}" href="{{ blog_url }}">Blog</a>
                {% if user.is_superuser %}
                    <a class="navbar-brand" href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% block navbar %}
                    {% endblock %}
                    {% url 'login' as login_url %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}?next={{ request.path }}">Log Out</a></li>
                    {% elif request.path != login  %}
                        <li><a href="{{ login_url }}?next={{ request.path }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
