<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Waynoc</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a class="navbar-brand {% if request.resolver_match.app_name == 'movienite' %} active {% endif %}" href="{% url 'movienite:person_list' %}">Movienite</a>
        <a class="navbar-brand {% if request.resolver_match.app_name == 'blog' %} active {% endif %}" href="{% url 'blog:post_list' %}">Blog</a>
        {% if user.is_superuser %}
          <a class="navbar-brand" href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% block navbar %}
          {% endblock %}
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}?next={{ request.path }}">Log Out</a></li>
          {% elif request.resolver_match.url_name != 'login'  %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    {% block footer %}
    {% endblock %}
  </body>

</html>
