<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Title</th><th>Date</th><th>Picker</th><th>Attendees</th><th></th>
  </tr>
  </thead>

  <tbody>
  {% for movie in movie_list %}
  <tr>
    <td>{{ movie.title }}</td>
    <td>{{ movie.date }}</td>
    <td>
      <a href="{% url 'movienite:person_detail' movie.picker.id %}">
        {{ movie.picker.name }}</a>
    </td>
    <td>
      {% for attendee in movie.attendees.all %}
        <a href="{% url 'movienite:person_detail' attendee.id %}">
          {{ attendee.name }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </td>
    {% if perms.movienite.change_movie %}
      <td>
        <a class="close" href="{% url 'movienite:movie_delete' movie.pk %}">
          &#10005;</a>
        <a class="close" href="{% url 'movienite:movie_edit' movie.pk %}">
          &#9998;</a>
      </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
