{% extends 'base.html' %}

{% block content %}
  <div class="row col-md-8 offset-md-2">
    <div class="col-4 col-md-2">
      <table class="table table-striped table-borderless table-hover table-sm">
        <tbody>
        <tr><td>Int: {{ player.intelligence }}</td></tr>
        <tr><td>Per: {{ player.perception }}</td></tr>
        <tr><td>Str: {{ player.strength }}</td></tr>
        <tr><td>Sta: {{ player.stamina }}</td></tr>
        <tr><td>Prs: {{ player.presence }}</td></tr>
        <tr><td>Com: {{ player.communication }}</td></tr>
        <tr><td>Dex: {{ player.dexterity }}</td></tr>
        <tr><td>Qik: {{ player.quickness }}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-borderless table-sm">
        <tbody>
        <tr>
          <td><h5>Name: {{ player.name }}</h5></td>
          <td><h5>Age: {{ player.age }}</h5></td>
        </tr>
        </tbody>
      </table>
      {% for event in player.text %}
        {{ event.flavor_text }}<br>
        <b>{{ event.effect_text }}</b><br>
      {% endfor %}
      <form method="POST"> {% csrf_token %}
        <button type="submit" name="action" value="advance"
                class="btn btn-secondary">Next Season</button>
        <button type="submit" name="action" value="restart"
                class="btn btn-secondary">Restart</button>
      </form>
    </div>
  </div>
{% endblock %}
