{% extends 'base.html' %}
{% load static %}

{% block head %}
  <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
  <script type="py" src="{% static 'game/main.py' %}"></script>
{% endblock %}

{% block content %}
  <div class="row col-md-8 offset-md-2">
    <div class="col-4 col-md-2">
      <table class="table table-striped table-borderless table-hover table-sm">
        <tbody>
        <tr><td>Int:<span id="Int">-10</span></td></tr>
        <tr><td>Per:<span id="Per">-10</span></td></tr>
        <tr><td>Str:<span id="Str">-10</span></td></tr>
        <tr><td>Sta:<span id="Sta">-10</span></td></tr>
        <tr><td>Prs:<span id="Prs">-10</span></td></tr>
        <tr><td>Com:<span id="Com">-10</span></td></tr>
        <tr><td>Dex:<span id="Dex">-10</span></td></tr>
        <tr><td>Qik:<span id="Qik">-10</span></td></tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <button type="submit" py-click="advance"
              class="btn btn-secondary">Next Season</button>
      <button type="submit" py-click="restart"
              class="btn btn-secondary">Restart</button>
      <table class="table table-borderless table-sm">
        <tbody>
        <tr>
          <td><h5>Name: </h5></td>
          <td><h5>Age: </h5></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
